TRAEFIK_EMAIL=you@example.com
DUCKDNS_TOKEN=your-duckdns-token-here
DOMAIN=domain.duckdns.org

MEDIA_PATH=/home/ubuntu/media

MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_DATABASE=db_name
MYSQL_USER=db_user
MYSQL_PASSWORD=db_password

BACKEND_VERSION=latest
BACKEND_PORT=4000
JWT_SECRET=your-jwt-secret-here
JWT_EXPIRES_IN=7d

FRONTEND_VERSION=latest
FRONTEND_PORT=8000
